.booking_submit_box{
	width: 450px;
	padding: 50px;
	background: #FFFFFF;
	border-radius: 5px;
}
p{
	color: #818181;
	font-weight: 500;
	font-size: 16px;
	margin: 5px 0;
	padding: 0;
}

.home_box_content img{
	width: 350px;
	height: 250px;
	margin-top: -100px;
	border: 1px solid #fff;
	transition: .5s;
	border-radius: 8px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.home_box_content img:hover{
	transform: scale(.9);
	overflow: hidden;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
}

.booking_submit_box .form_control{
	width: 417px;
	height: 50px;
	border: none;
	background: #F2F2F2;
	border-radius: 5px;


}
.date-picker{
	width: 190px;
	height: 40px;
	border: none;
	padding: 10px;
	margin: 5px 0;
	background: #F2F2F2;
	border-radius: 5px;
}

.booking_submit{
	width: 425px;
	height: 50px;
	border: none;
	margin: 5px 0;
	color: #fff;
	font-weight: bold;
	padding: 20px 140px;
	transition: .5s;
	background: #F9A51A;
	border-radius: 5px;
}

.booking_submit:hover{
	background: green
}